[submodule "linux"]
	path = linux
	url = https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git
[submodule "rust-module"]
	path = rust-module
	url = https://github.com/Rust-for-Linux/rust-out-of-tree-module
